html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ff7e5f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #feb47b,
    #ff7e5f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #feb47b,
    #ff7e5f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#projects {
  color: #fff;
}
/* To Do list container styles */
#container {
  width: 360px;
  min-height: calc(100%);
  margin: 100px auto;
  box-shadow: rgba(0, 0, 0, 0.1);
}

h1 {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.fa-plus {
  float: right;
}

input {
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  display: none;
}

input:focus {
  background-color: white;
  border: 3px solid #2980b9;
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0);
}

#list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#list li {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

#list li:nth-child(2n) {
  background-color: #f7f7f7;
}

#list li:hover span {
  width: 40px;
  opacity: 1;
}

span {
  background-color: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

/* Completed To-Do items style */
.completed {
  color: gray;
  text-decoration: line-through;
}
